@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&family=Square+Peg&display=swap');

$brown: #d3ad7f;
$pink: #FF8FB1;
$blue: #54BAB9;
$black: #13131a;
$white: #f0f0f0;
$bg: #000000;
$coffee: #603601;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    color: $white;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    
}

body{
    width: 100%;
    height: 100%;
    background-color: $bg;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.section-container{
    background-color: $bg;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem ;
}
.section-title{
    font-size: 3rem;
    color: $brown;
    text-align: center;
    padding: 20px;
}


// page loading
.loadingPage{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $bg;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  transform 2s ;
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        .coffee-cup{
            width: 150px;
            height: 130px;
            background: transparent;
            border-radius: 0 0 4rem 4rem;
            border: 8px solid $white;
            border-top: none;
            position: relative;
            &::after{
                content: "";
                display: block;
                width: 35px;
                height: 40px;
                position: absolute;
                left: 110%;
                top: 1.75rem;
                box-shadow: 0 0 0 0.5rem $white;
                border-radius: 0 2rem 2rem 0;
            }
            .coffee{
                width: 100%;
                height: 90%;
                background-color: transparent;
                position: absolute;
                left: 0;
                bottom: 0;
                box-shadow: 0 0 0 0.5rem transparent;
                border-radius: 0 0 3.55rem 3.55rem;
                overflow: hidden;
                .integradient{
                    height: 0%;
                    width: 100%;
                    background-color: $coffee;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    animation: integradientAni 3s linear;
                }
            }
        }

    }
    .loading-text{
        letter-spacing: .5rem;
        font-size: 3rem;
        position: relative;
        &::before{
            content: attr(data-text);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: $coffee;
            overflow: hidden;
            animation: loadingText 1s linear infinite;
        }
    }
}



// hero section start
#home{
    min-height: 100vh;
    background-image: url(../image/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: multiply;
    animation: changeImg 15s ease infinite;
    animation-delay: 2s;
}

nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: $white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($bg,.9);
    z-index: 100;
    .logo-container{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 80px;
            height: 80px;
        }
        h3{
            font-size: 2.5rem;
            font-family: 'Square Peg', cursive;;
            color: $brown;
            transform: translateY(.55rem);
        }
    }
    // navbar
    .menu-list{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4rem;
        gap: 1.25rem;
        text-transform: uppercase;
        background-color: rgba($bg,.9);
        font-size: 2.5rem;
        font-weight: normal;
        transition: all .3s linear;
        a{
            text-transform: uppercase;
            position: relative;
            span{
                visibility: hidden;
                position: absolute;
                font-family: 'Noto Sans TC', sans-serif;
                left: 0;
                letter-spacing: 0.35rem;
            }
        }
        // click show menu
        &.show-menu{
            left: 0;
            right: 0;
            z-index: 100;
        }
        & a:hover{
            visibility: hidden;
            span{
                width: 100%;
                color: $pink;
                font-weight: 700;
                padding-bottom: .5rem;
                visibility: visible;
            }
        }
    }

    // menu button
    .menu-btns{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
        #cart-btn{
            position: relative;
            .cart-items-num{
                position: absolute;
                padding: 2px 5px;
                background: $brown;
                font-size: 22px;
                font-weight: normal;
                border-radius: 4px;
                top: -16px;
                right: -10px;
            }
        }
        
        .ham-btn{
            div{
               width: 24px;
               height: 2px;
               background-color: $white;
               margin-top: 7px;
            }
            &:hover{
                div{
                    background-color: $brown;
                }
            }
        }
        .show-menu{
            z-index: 200;
            .top{
                margin: 0;
                transform: rotate(45deg) translate(2px);
            }
            .middle{
                display: none;
            }
            .bottom{
                margin: 0;
                transform: rotate(-45deg) translate(1px);
            }
        }
        & .btn:hover{
            color: $brown;
        }
    }
    
}



.hero-title{
    max-width: 800px;
    padding: 1rem;
    margin: 8rem auto;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: 0.25rem;
    sub{
        font-size: 1.25rem;
        color:rgba(255,255,255,0.8)
    }
}

.explore{
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    i{
        font-size: 5rem;
        color: #f0f0f0;
        animation: explore 1s linear infinite;
        animation-delay: .5s;
    }
}

.cart-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: $bg;
    z-index: 100;
    &.show-cart{
        transform: translateX(0);
        box-shadow: 0 0 30px rgba($white,0.6);
    }
    .cart{
        width: 100%;
        padding: 20px 40px;
        .close-cart i{
            font-size: 2rem;
        }
        h2{
            padding: 10px;
            font-size: 2rem;
            text-align: center;
        }
        .cart-content{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            .cart-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                margin-bottom: 20px;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 4px;
                    margin-right: 10px;
                }
                .item-box{
                    width: 100px;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    .remove-item{
                        background: transparent;
                        border: none;
                        
                    }
                }
                .count{
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .5rem;
                    h3{
                        display: inline-block;
                    }
                    button{
                        position: absolute;
                        right: 0;
                        top: 10px;
                        border-radius: 4px;
                        padding: 10px 15px;
                        color: $black;
                        font-weight: 800;
                        font-size: 1rem;
                    }
                }
            }
            .cart-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .clear-btn{
                    padding: 10px 15px;
                    background-color: $brown;
                    font-size: .8rem;
                    border-radius: 4px;
                }
            }
        }
    }
}

// hero section end

// about section start
#about{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
    }
}

.detail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    .image-box{
        width: 100%;
        max-width: 450px;
        height: 20rem;
        padding: 10px;
        margin: 20px auto;
        img{
            width: 100%;
            height: 100%;
            max-width: 480px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba($brown,.6);
        }

    }
    .content-box{
        width: 90%;
        line-height: 2rem;
        margin: auto;
        max-width: 550px;
        h5{
            text-align: center;
            font-size: 1.75rem;
            letter-spacing: 0.1rem;
            font-weight: bold;
        }
        p{
            padding: 0 5px;
            opacity: .8;
            font-size: 12px;
        }
    }
}
// about section end

// menu section start
#menu{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
    }
}
.products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.type-title{
    padding: 20px;
    font-size: 1.75rem;
    letter-spacing: 2px;
    color: $white;
}
.product-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1.5rem;
    
}
.box{
    padding: 10px 20px;
    overflow: hidden;
}
.img-box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
    img{
        width: 100%;
        height: 20rem;
        display: block;

    }
    .bag-btn{
        background: $pink;
        position: absolute;
        right: 0;
        top: 70%;
        padding: 10px 40px;
        letter-spacing: 2px;
        font-size: 1.05rem;
        font-weight: 600;
        transition: all .5s linear;
        transform: translateX(110%);
        cursor: pointer;
    }
    &:hover .bag-btn{
        transform: translateX(0%);
    }
}
.product-name{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    letter-spacing: 2px;
   
}
.price{
    text-align: center;
    margin-top: .5rem;
    
}
// menu section end

// contact section start
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    iframe{
        height: 250px;
    }
}

form{
    text-align: center;
    h5{
        font-size: 1.75rem;
    }
    .input-container{
        margin-top: 1rem;
        .input-box{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid rgba($white,.8);
            padding: 5px 20px;
            font-size: 1.5rem;
            input{
                font-size: 1rem;
                padding: 5px;
                background-color: transparent;

            }
        }
    }
    .btn{
        padding: 10px 40px;
        color: $white;
        border-radius: 8px;
        background-color: $brown;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
            background-color: transparent;
            border: 1px solid $brown;
        }
        &:active{
            color: $brown;
        }
    }
}

// footer section start
.link{
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    a{
        margin-right: 1.5rem;
        transition: all .3s linear;
        i:hover{
            color: $pink;
        }
    }
    // margin-right: 1.5rem;
}
.copy-right{
    text-align: center;
}
// footer section end


// contact section end

// ipad
@media (min-width: 768px) {
    nav {
        padding: 0 40px;
        .show-menu{
            width: 50%;
            transform: translateX(100%);
        }
        .menu-btns{
            gap: 3.5rem;
            margin-right: 10px;
            font-size: 2.25rem;
            .ham-btn div{
                transform: scale(2);
                margin-top: 12px;
            }
        }
    }
    .cart-overlay{
        width: 50%;
        transform: translateX(200%);
        transition: all .3s linear;
        &.show-cart{
            transform: translateX(100%);
        }
    }
    .hero-title{
        font-size: 3.5rem;
        margin: 12rem auto;
        line-height: 5rem;
        sub{
            font-size: x-large;
        }
    }
    .detail-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
        .image-box,.content-box{
            width: 40%;
            margin: 0;
        }
        .content-box{
            width: 50%;
            line-height: 2.5rem;
            h5{
                font-size: 1.75rem;
                margin-bottom: 1.25rem;
            }
            p{
                padding-left: 15px;
                font-size: 14px;
            }
        }
    }
    .contact-container {
        flex-direction: row;
        iframe{
            height: 260px;
        }
    }

}

// Desktop
@media (min-width: 990px) {
    nav {
        .menu-list{
            display: inline-block;
            position: initial;
            width: initial;
            height: initial;
            font-size: 1.75rem;
            padding: 0;
            a{
                margin-right: 2rem;
                position: relative;
                &:hover {
                    visibility: hidden;
                    span{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        padding: 0 20px;
                        visibility: visible;
                        text-align: center;
                        font-size: 2.25rem;
                        &:nth-child(odd){
                            width: 250px;
                        }
                    }
                }
                
                
            }
        }
        .menu-btns{
            font-size: 2.25rem;
            .ham-btn{
                display: none;
            }
        }
        
    }
    .cart-overlay{
        width: 30%;
        transform: translateX(330%);
        transition: all .5s linear;
        &.show-cart{
            transform: translateX(230%);
        }
        .cart .cart-content .cart-item img{
            margin-right: 10px;
        }
    }
    .detail-container .image-box{
        width: 20rem;
    }
    #menu .container{
        padding: 0 40px;
    }
    .contact-container{
        height: 480px;
        gap: 12rem;
        & > *{
            transform: scale(1.5);
        }
    }
    .img-box img{
        height: 25rem;
    }
    .loadingPage{
        transform: scale(2);
    }
}

// large desktop
@media (min-width: 1170px) {
    .detail-container{
        gap: 4rem;
        .image-box{
            width: 450px;
            height: 450px;
        }
        .content-box{
            height: 450px;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rme;
            h5{
                font-size: 2.5rem;
            }
            p{
                font-size: 20px;
                padding: 0 40px;
            }
        }
    }
    .contact-contain{
        gap: 20rem;
    }
    nav{
        .menu-list{
            font-size: 2.75rem;
        }
        .menu-btns{
            padding: 10px 40px;
        }
    }
    
}


@keyframes changeImg {
    0%{
        background-image: url(../image/background01.jpg);
    }
    20%{
        background-image: url(../image/background02.jpg);
    }
    40%{
        background-image: url(../image/background03.jpg);
    }
    60%{
        background-image: url(../image/background01.jpg);
    }
    80%{
        background-image: url(../image/background02.jpg);
    }
    100%{
        background-image: url(../image/background01.jpg);
    }
}

@keyframes loadingText {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes explore {
    from{
        color: $white;
    }
    to{
        color: transparent;
    }
}

@keyframes integradientAni {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}